@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>SissyCeant Es una pagina de subasta donde los subastadores empiezan con una cantidad predetrminada de un producto y depende del tiempo que tenga cada subasta se le sera vendido al comprador que alla
    ofrecido mas dinero al producto</p>
